# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# IntelliJ files
 .idea/workspace.xml
 .idea/tasks.xml

# Binaries

 target/
 log/
/target/
.idea/libraries/Maven__com_opencsv_opencsv_4_0.xml
.idea/libraries/Maven__commons_beanutils_commons_beanutils_1_9_3.xml
.idea/libraries/Maven__commons_collections_commons_collections_3_2_2.xml
.idea/libraries/Maven__commons_logging_commons_logging_1_2.xml
.idea/libraries/Maven__org_apache_commons_commons_lang3_3_6.xml
.idea/libraries/Maven__org_apache_commons_commons_text_1_1.xml
.idea/uiDesigner.xml
.idea/workspace.xml
target/IntegerStatisticsProject-1.0-SNAPSHOT.jar
target/classes/
target/maven-status/
target/surefire-reports/
target/test-classes/
